<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<form method="POST" action="/recipes">

<input type="text" name="name" id="name">
<input type="text" name="cook_time" id="cook_time">
<input type="text" name="ingredients" id="ingredients">
<input type="submit" value="Submit">

</form>

</body>
</html>